@model IEnumerable<DotNet6Crud.Models.Item>
<DotNet6Crud.Models.Item>
<div class="container px-4">
    <a method="post" asp-controller="Item" asp-action="Create" type="button" class="btn btn-primary" style="margin-bottom: 20px; margin-right: 5px;">Borrow Item</a>
   <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      @if(Model.Count() > 0)
      {
      @foreach(var item in Model)
      {
      <div class="col-3">
         <div class="card text-bg-primary">
            <div class="card-header">@item.ItemBorrowed</div>
            <div class="card-body">
               <!-- <h5 class="card-title">@item.Borrower</h5> -->
               <p class="card-text">Item Price: $@item.ItemBorrowedPrice</p>
               <p class="card-text">Borrowed Date: @Html.DisplayFor(modelItem => item.BorrowedDate )</p>
               <p class="card-text">Return Date: @Html.DisplayFor(modelItem => item.ItemReturnDate )</p>
            </div>
            <a asp-controller="Item" asp-action="Update" asp-route-id="@item.Id" type="button" class="btn btn-primary" style="margin-bottom: 20px; margin-right: 5px;">Edit Item</a>
            <a asp-controller="Item" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="margin-bottom: 5px; margin-right: 5px;">Delete Item</a>
         </div>

      </div>
      }
      }
      else
      {
      <p>No items created yet</p>
      }
   </div>
</div>